    <h3>Autores de la página</h3>
    <p>
    	FIDALGO GARCIA Alexandre
    	<img src="images/foto_quiz_alex.jpg" heigth="" width="">
    </p>
    <p>
    	SOLER FERNANDEZ Jaime
    	<img src="images/foto_quiz_jaime.jpg">
    </p>
