<table>
<% var i; for (i=0; i <quizes.length; i++) { %>
	<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table> <p>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<form method="get" action="/quizes">
Búsqueda de pregunta
<input type="text" name="search" placeholder="Escribe aquí palabras clave" />
<input type="submit" value="Buscar">
</form>
<% if(search!= null) { %>
<p>El valor de la búsqueda es: <%= search %></p>
<% } %>